services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosq_data:/mosquitto/data
      - mosq_log:/mosquitto/log

volumes:
  mosq_data:
  mosq_log:

